# EPISODES

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('the_office_episodes.csv')

In [4]:
df

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers
0,1,1,1,Pilot,Ken Kwapis,Ricky Gervais & Stephen Merchant and Greg Daniels,2005-03-24,1001,11200000.0
1,1,2,2,Diversity Day,Ken Kwapis,B. J. Novak,2005-03-29,1002,6000000.0
2,1,3,3,Health Care,Ken Whittingham,Paul Lieberstein,2005-04-05,1006,5800000.0
3,1,4,4,The Alliance,Bryan Gordon,Michael Schur,2005-04-12,1004,5400000.0
4,1,5,5,Basketball,Greg Daniels,Greg Daniels,2005-04-19,1005,5000000.0
...,...,...,...,...,...,...,...,...,...
196,9,21,197,Livin' the Dream,Jeffrey Blitz,Niki Schwartz-Wright,2013-05-02,9021,3510000.0
197,9,22,198,A.A.R.M.,David Rogers,Brent Forrester,2013-05-09,9022,4560000.0
198,9,23,199,A.A.R.M.,David Rogers,Brent Forrester,2013-05-09,9023,4560000.0
199,9,24,200,Finale,Ken Kwapis,Greg Daniels,2013-05-16,9024,5690000.0
200,9,25,201,Finale,Ken Kwapis,Greg Daniels,2013-05-16,9025,5690000.0

In [7]:
df['year'] = pd.to_datetime(df['original_air_date'])
df['year'] = df['year'].dt.year

In [8]:
df

,season,episode_num_in_season,episode_num_overall,title,directed_by,written_by,original_air_date,prod_code,us_viewers,year
0,1,1,1,Pilot,Ken Kwapis,Ricky Gervais & Stephen Merchant and Greg Daniels,2005-03-24,1001,11200000.0,2005
1,1,2,2,Diversity Day,Ken Kwapis,B. J. Novak,2005-03-29,1002,6000000.0,2005
2,1,3,3,Health Care,Ken Whittingham,Paul Lieberstein,2005-04-05,1006,5800000.0,2005
3,1,4,4,The Alliance,Bryan Gordon,Michael Schur,2005-04-12,1004,5400000.0,2005
4,1,5,5,Basketball,Greg Daniels,Greg Daniels,2005-04-19,1005,5000000.0,2005
...,...,...,...,...,...,...,...,...,...,...
196,9,21,197,Livin' the Dream,Jeffrey Blitz,Niki Schwartz-Wright,2013-05-02,9021,3510000.0,2013
197,9,22,198,A.A.R.M.,David Rogers,Brent Forrester,2013-05-09,9022,4560000.0,2013
198,9,23,199,A.A.R.M.,David Rogers,Brent Forrester,2013-05-09,9023,4560000.0,2013
199,9,24,200,Finale,Ken Kwapis,Greg Daniels,2013-05-16,9024,5690000.0,2013
200,9,25,201,Finale,Ken Kwapis,Greg Daniels,2013-05-16,9025,5690000.0,2013

In [9]:
df.to_csv('episodes.csv', index=False)

# IMDB RATING

In [22]:
df2=pd.read_csv('the_office_imdb.csv')

In [23]:
df2

,season,episode_num,title,original_air_date,imdb_rating,total_votes,desc
0,1,1,Pilot,2005-03-24,7.4,7006,The premiere episode introduces the boss and s...
1,1,2,Diversity Day,2005-03-29,8.3,6902,Michael's off color remark puts a sensitivity ...
2,1,3,Health Care,2005-04-05,7.7,5756,Michael leaves Dwight in charge of picking the...
3,1,4,The Alliance,2005-04-12,8.0,5579,"Just for a laugh, Jim agrees to an alliance wi..."
4,1,5,Basketball,2005-04-19,8.4,6183,Michael and his staff challenge the warehouse ...
...,...,...,...,...,...,...,...
183,9,19,Stairmageddon,2013-04-11,8.0,2961,Dwight shoots Stanley with a bull tranquilizer...
184,9,20,Paper Airplane,2013-04-25,8.0,3040,The employees hold a paper airplane competitio...
185,9,21,Livin' the Dream,2013-05-02,9.1,4448,Dwight becomes regional manager after Andy qui...
186,9,22,A.A.R.M.,2013-05-09,9.5,5930,Dwight prepares for a marriage proposal and hi...
187,9,23,Finale,2013-05-16,9.8,15245,"One year later, Dunder Mifflin employees past ..."

In [24]:
df2 = df2.drop('desc', axis=1)

In [28]:
df2['year'] = pd.to_datetime(df2['original_air_date'])
df2['year'] = df2['year'].dt.year

In [29]:
df2

,season,episode_num,title,original_air_date,imdb_rating,total_votes,year
0,1,1,Pilot,2005-03-24,7.4,7006,2005
1,1,2,Diversity Day,2005-03-29,8.3,6902,2005
2,1,3,Health Care,2005-04-05,7.7,5756,2005
3,1,4,The Alliance,2005-04-12,8.0,5579,2005
4,1,5,Basketball,2005-04-19,8.4,6183,2005
...,...,...,...,...,...,...,...
183,9,19,Stairmageddon,2013-04-11,8.0,2961,2013
184,9,20,Paper Airplane,2013-04-25,8.0,3040,2013
185,9,21,Livin' the Dream,2013-05-02,9.1,4448,2013
186,9,22,A.A.R.M.,2013-05-09,9.5,5930,2013
187,9,23,Finale,2013-05-16,9.8,15245,2013

In [30]:
df2.to_csv('rating.csv', index=False)

# LINES

In [34]:
df3=pd.read_csv('the-office_lines.csv')

In [35]:
df3

,Unnamed: 0,Character,Line,Season,Episode_Number
0,0,Michael,All right Jim. Your quarterlies look very goo...,1,1
1,1,Jim,"Oh, I told you. I couldnâ€™t close it. Soâ€¦",1,1
2,2,Michael,So youâ€™ve come to the master for guidance? Is...,1,1
3,3,Jim,"Actually, you called me in here, but yeah.",1,1
4,4,Michael,"All right. Well, let me show you how itâ€™s don...",1,1
...,...,...,...,...,...
58716,61302,Creed,It all seems so very arbitrary. I applied for...,9,23
58717,61303,Meredith,I just feel lucky that I got a chance to shar...,9,23
58718,61304,Phyllis,Iâ€™m happy that this was all filmed so I can r...,9,23
58719,61305,Jim,I sold paper at this company for 12 years. My...,9,23
58720,61306,Pam,I thought it was weird when you picked us to ...,9,23

In [36]:
df3 = df3.drop(['Unnamed: 0','Line'], axis=1)

In [38]:
df3=df3.drop_duplicates()

In [40]:
df3.reset_index(drop=True, inplace=True)

In [41]:
df3

         Character  Season  Episode_Number
0          Michael       1               1
1              Jim       1               1
2              Pam       1               1
3           Dwight       1               1
4              Jan       1               1
...            ...     ...             ...
4060  Carol Stills       9              23
4061         Carol       9              23
4062         Buyer       9              23
4063         Woman       9              23
4064  Photographer       9              23

[4065 rows x 3 columns]

In [42]:
df3.to_csv('char_appearances.csv', index=False)